{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <table class="table table-condensed table-striped table-hover" id="questions-table">
      <thead>
        <tr>
          <th>Assessment</th>
          <th>Label</th>
          <th>Question Text</th>
          <th>Cognitive Atlas Concept</th>
          <th>Definition</th>
          <th>Required</th>
          <th>Data Type</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
          <tr>
            <td>{{ question.assessment }}</td>
            <td>{{ question.label }}</td>
            <td>{{ question.text }}</td>
            <td>{{ question.cognitive_atlas_concept }}</td>
            <td>{{ question.definition }}</td>
            <td>{{ question.required }}</td>
            <td>{{ question.data_type }}</td>
            <td class="col-md-1"><button class="btn btn-success btn-small">+</button>
                <button class="btn btn-danger btn-small">-</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    $('#questions-table').dataTable({
      responsive: true
    });
} );
</script>
{% endblock %}
