{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row row-centered">
    <div class="col-md-11">
        <div class= "massive"><p>CogPheno</p>
            <div class="lead">Cognitive Atlas Phenotypes</div>
            <hr>
        </div>
</div>
<div class="row row-centered">
    <div class="col-4 col-centered third slice">
<div class="light-head center-text">What is it?</div>
     <p>BrainMeta is a database of image comparison metrics and standards.</p>
    </div>
    <div class="col-4 col-centered third slice">
<div class="light-head center-text">Why use it?</div>
         <p>You can see how well your metric identifies images with the same contrast.</p>
    </div>
    <div class="col-4 col-centered third slice">
<div class="light-head center-text"></div>
         <p>Poldracklab, Stanford University</p>
    </div>
</div>
<hr>
<div class="row row-centered">
    <div class="col-md-11">

    </div>
</div>

{% endblock %}
