<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}CogPheno: Cognitive Atlas Phenotype{% endblock %}</title>
    {% block includes %}{% endblock %}
    {% block global_includes %}
    <link href="{% static "css/app.css"%}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static "css/style.css"%}" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static "css/dataTables.responsive.css"%}" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="{% static "js/app.js"%}" type="text/javascript"></script>

    {% endblock %}
    {% block head %}{% endblock %}
	{% block functions %}{% endblock %}
</head>
{% block body %}
  <body class='main page'>
    <!-- Navbar -->
    <div class='navbar' id='navbar'>
      <a class='navbar-brand' href="{% url 'index' %}">
        <span style="color:#1abc9c">cogat</span>pheno
      </a>
      <ul class='nav navbar-nav pull-right'>
          {% if request.user.is_authenticated %}
	  <li class="dropdown">
	  <a href="{% url 'my_profile' %}" class="dropdown-toggle" data-toggle="dropdown">
	      {{ request.user.username }}
	      <b class="caret"></b>
	  </a>
	  <ul class="dropdown-menu">
	      <li><a href="{% url 'logout' %}">Logout</a></li>
	      <li><a href="{% url 'edit_user' %}">Edit</a></li>
	  </ul>
	  </li>
	  {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          {% endif %}

      </ul>
    </div>
    <div id='wrapper'>
      <!-- Sidebar -->
      <section id='sidebar'>
        <i class='icon-align-justify icon-large' id='toggle'></i>
        <ul id='dock'>
          {% if active == "home" %}
          <li class='active launcher'>
          {% else %}
          <li class='launcher'>
          {% endif %}
            <i class='fa fa-skyatlas'></i>
            <a href="{% url 'index' %}">Home</a>
          </li>
          {% if active == "assessments" %}
          <li class='active launcher dropdown hover'>
          {% else %}
          <li class='launcher'>
          {% endif %}
            <i class="fa fa-book"></i>
            <a href="{% url 'assessments' %}">Assessments</a>
            <ul class='dropdown-menu'>
              <li class='dropdown-header'>Assessments</li>
              <li>
                <a href="{% url 'assessments' %}">All Assessments</a>
              </li>
              <li>
                <a href='/assessments/new'>Add Assessment</a>
              </li>
            </ul>
          </li>
          {% if active == "questions" %}
          <li class='active launcher'>
          {% else %}
          <li class='launcher'>
          {% endif %}
            <i class="fa fa-question-circle"></i>
            <a href="{% url 'questions' %}">Questions</a>
          </li>
          {% if active == "behaviors" %}
          <li class='active launcher dropdown hover'>
          {% else %}
          <li class='launcher'>
          {% endif %}
            <i class="fa fa-user"></i>
            <a href="{% url 'behaviors' %}">Behaviors</a>
          </li>
          <li class='launcher'>
            <i class="fa fa-arrow-down"></i>
            <a href="{% url 'export_questions' %}">Export</a>
          </li>
        </ul>
        <div data-toggle='tooltip' id='beaker' title='Made by Poldracklab'></div>
      </section>
      <!-- Tools -->
      <section id='tools'>
        <ul class='breadcrumb' id='breadcrumb'>
          <li class='title'>Home</li>
          <li><a href="{% url 'assessments' %}">Assessments</a></li>
          <li class='active'><a href="{% url 'questions' %}">Questions</a></li>
        </ul>
      </section>
      <!-- Content -->
      <div id='content'>
            {% block content %}{% endblock %}
      </div>
    </div>
  </body>
{% endblock %}
</html>
