{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class= "massive"><p>CogatPheno</p>
    <div class="lead">Cognitive Atlas Phenotypes</div>
    <hr>
</div>

<div class="row" style="margin-left:20px">
    <div class="col-md-2" style="margin-top:20px">
        <h3>What is it?</h3>
        <h3 style="margin-top:50px">Why should I use it?</h3>
        <h3 style="margin-top:90px">Who's making it?</h3>
        <br><br>
    </div>
    <div class="col-md-10">
    <div class="well" style="margin-top:30px">
CogatPheno is a database of cognitive and behavioral assessments with questions that have been mapped to concepts and contrasts defined in the <a href="http://www.cognitiveatlas.org" target="_blank">Cognitive Atlas</a>.
    </div>
    <div class="well">
CogatPheno will (eventually) allow for a data-driven derivation of an individual's cognitive phenotype using one or more assessments. Given that the Cognitive Atlas is an ontology, this phenotype can be expressed at multiple levels of detail. We hope to be able to describe currently categorically defined mental illness using these dimensional concepts.
    </div>
    <div class="well">
    This work is being done by the <a href="http://poldracklab.stanford.edu" target="_blank">Poldracklab</a> at Stanford University.
    </div>
</div>
<hr>
{% endblock %}
