{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <table class="table table-condensed table-striped table-hover" id="assessments-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Questions</th>
          <th>Cognitive Atlas Task</th>
          <th>Publication Date</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        {% for assessment in assessments %}
          <tr>
            <td><a href="/assessments/{{ assessment.id }}">{{ assessment.name }}</a></td>
            <td>{{ assessment.question_set.count }}</td>
            <td>{{ assessment.cognitive_atlas_task }}</td>
            <td>{{ assessment.pub_date }}</td>
            <td>{{ assessment.version }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    $('#assessments-table').dataTable({
      responsive: true
    });
} );
</script>
{% endblock %}
