{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head %}
    <script src="{% static "js/select2.min.js"%}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "css/select2.min.css" %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
{% block content %}

    <div style="padding:20px">
        <h2>All Tagged Questions</h2>
        {% include "table_questions.html" %}
    </div>


{% endblock %}
